<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/loader %> <% include partials/popup %>
    <header><% include partials/header %></header>
    <div id="tt-pageContent">
      <h1>Client site</h1>
    </div>
    <footer><% include partials/footer %></footer>
    <a href="#" class="tt-back-to-top">BACK TO TOP</a>
    <% include partials/modal-addtocartproduct %> <% include
    partials/modal-quickviewmodal %> <% include partials/modal-videoproduct %>
    <% include partials/modal-subscribegood %> <% include partials/script %>
  </body>
</html>
