
{{> navbar}}
{{#> layout}}
{{#*inline "head"}}
<title>Intro - {{@websiteName}}</title>
{{/inline}}
{{#*inline "body"}}
{{> navbar}}
<div class="container top-70">
    <div class="card-body text-color-white">
                    <p>Bạn nhận được điểm nếu bạn đặt cược cho một trận đấu và trận đấu kết thúc.</p>
                    <ul>
                        <li>Bạn nhận được {{> correct_bet}} (4 điểm) cho một lần cược đúng HOẶC</li>
                        <li>Bạn nhận được {{> correct_diff}} (3 điểm) cho hiệu số bàn thắng bại chính xác HOẶC</li>
                        <li>Bạn nhận được {{> correct_winner}} (2 điểm) cho đúng người chiến thắng HOẶC</li>
                        <li>Bạn nhận được {{> wrong_bet}} (0 điểm) không có điểm trong bất kỳ trường hợp nào khác hoặc nếu bạn không đặt cược</li>
                    </ul>
                    <p>
                       Bất kỳ trận đấu nào cũng có thể có thêm <em>yếu tố phù hợp</em>. Điều này được chỉ định là {{> score_factor 2}}.
                        Số điểm bạn nhận được cho một trận đấu được nhân với hệ số này.
                    </p>

                    <p>
                        <strong>Ví dụ chấm điểm</strong><br>
                        Bạn đã đặt cược: 4:3 trong trận Đức - Đan Mạch. Bạn sẽ nhận được
                    </p>
                    <ul>
                        <li>{{> correct_bet}}, nếu kết quả là 4:3</li>
                        <li>{{> correct_diff}}, nếu kết quả là 1:0, 2:1 hoặc 3:2 ...</li>
                        <li>{{> correct_winner}}, nếu người chiến thắng là Đức</li>
                    </ul>
                    <p>Bạn đã đặt cược này: 2:2 trong một trận đấu khác. Bạn sẽ nhận được</p>
                    <ul>
                        <li>{{> correct_bet}}, nếu kết quả là 2:2</li>
                        <li>{{> correct_diff}}, nếu kết quả là 0:0, 1:1, 3:3 ...</li>
                    </ul>
                </div>
</div>
{{/inline}}
{{/layout}}
